@import url('https://fonts.googleapis.com/css2?family=Domine&family=Playfair+Display&display=swap');

body {
    font-family: 'Domine', serif;
}

.main-container {
    border: 2px solid #000000!important;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0.4em;
    margin-right: 0.4em;
    padding-bottom: 1em;
}

h1, h2, h3 {
    font-family: 'Playfair Display', serif;
}

h1, h2 {
    margin-top: 1em;
    margin-bottom: 1em;
    border-top: 1px solid #000000!important;
    border-bottom: 1px solid #000000!important;
}