body {
    font-family: Mongolian Baiti;
}

.main-container {
    border: 4px solid #000000!important;
    margin-top: 60px;
    margin-bottom: 60px;
    padding-bottom: 20px;
}

h1, h2 {
    margin-top: 30px;
    margin-bottom: 30px;
    border-top: 1px solid #000000!important;
    border-bottom: 1px solid #000000!important;
}